/*-- scss:rules --*/
kbd.dsp {
    background-color: #f9f9f9;
    border-radius: 0.2rem;
    box-shadow:
        0 0.1rem 0 0.05rem #b8b8b8,
        0 0.1rem 0 #b8b8b8,
        0 -0.1rem 0.2rem hsla(0, 100%, 100%, 1) inset;
    display: inline-block;
    font-size: 0.8em;
    padding: 0 0.6666666667em;
    vertical-align: text-top;
    word-break: break-word;
    cursor: default;
    min-width: 0.75rem;
    text-align: center;
    position: relative;
    top: -1px;
    &:hover {
        box-shadow: 0 1px 0 0.5px var(--kbd-color-border);
        top: 1px;
    }
}

code kbd.dsp {
    padding: 0.05em 0.45em;
    border: 0.1em solid gray;
}
